<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Health Score App{% endblock %}</title>

    <!-- Material Design Lite Stylesheet -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  </head>
  <body>
    <!-- Header -->
    <header class="mdl-layout__header mdl-layout__header--scroll">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Health Score App</span>
      </div>
    </header>

    <!-- Main Content -->
    <main class="mdl-layout__content">
      {% block content %}{% endblock %}
    </main>

    <!-- Material Design Lite JavaScript -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- Main JavaScript -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>